{% extends 'index.html' %}
{% load static %}

{% block content %}
<section class="blockNav">
    <a href="/cadastro"><button>Cadastre-se</button></a>
</section>
<section class="sobreHome">
    <h2>Sobre</h2>
    <div class="texto-sobre">
        <img src="../static/img/icon-sobre.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi velit orci, dapibus quis pellentesque nec, feugiat eget neque. Vivamus tristique et orci sit amet pretium. Duis sed sem et mi consequat semper. Integer tempor, elit eu dictum porta, metus quam sagittis augue, sed finibus est turpis quis sapien. Nam tempus urna vitae tellus elementum convallis. Morbi suscipit rhoncus purus eget viverra. Fusce congue quis erat ut consequat. Quisque molestie lorem nec nunc pretium, sed congue ligula vulputate. Fusce auctor dapibus nulla ut venenatis. Maecenas eleifend ut arcu sit amet porttitor. Suspendisse efficitur, turpis ac pulvinar rutrum, massa diam lobortis lectus, id semper dolor quam nec metus. Integer at finibus ex. Fusce convallis nisi at est viverra consequat.</p>
     </div>
    <div class="slide-home">
        <img src="../static/img/slide1.png" alt="">
        <img class ="none" src="../static/img/abacaxi.png" alt="">
        <img class ="none" src="../static/img/hidroponia.png" alt="">
        <img class ="none" src="../static/img/abacaxi.png" alt="">
        </div>
    <div class="bolinhas">
        <p class="bolinha"></p>
        <p class="bolinha"></p>
        <p class="bolinha"></p>
        <p class="bolinha"></p>
    </div>
    <a href="/sobre"><button>Saiba Mais</button></a>
</section>
<section class="contato-home">
    <h2>Cantato</h2>
    <div class="time">
        <div class="mud">
            <img src="../static/img/foto-mud.png" alt="">
            <h3>Ahmad Forhat</h3>
            <div class="redes-sociais">
                <a href="https://github.com/AhmadForhat" target="_blank"><img src="../static/img/github.png" alt=""></a>
                <a href="https://www.linkedin.com/in/ahmad-forhat" target="_blank"><img src="../static/img/linkedin.png" alt=""></a>
                <a href="mailto:ahmad.forhat@gmail.com" target="_blank"><img src="../static/img/gmail.png" alt=""></a>
            </div>
        </div>
        <div class="gui">
            <img src="../static/img/foto-guilherme.png" alt="">
            <h3>Guilherme Andrade</h3>
            <div class="redes-sociais">
                <a href="https://github.com/GuilhermaoAndrade" target="_blank"><img src="../static/img/github.png" alt=""></a>
                <a href="" target="_blank"><img src="../static/img/linkedin.png" alt=""></a>
                <a href="malito:guilherme.souza102@fatec.sp.gov.br" target="_blank"><img src="../static/img/gmail.png" alt=""></a>
            </div>
        </div>
        <div class="renata">
            <img src="../static/img/foto-renata.png" alt="">
            <h3>Renata Mizuno</h3>
            <div class="redes-sociais">
                <a href="https://github.com/renatamizuno1" target="_blank"><img src="../static/img/github.png" alt=""></a>
                <a href="" target="_blank"><img src="../static/img/linkedin.png" alt=""></a>
                <a href="" target="_blank"><img src="../static/img/gmail.png" alt=""></a>
            </div>
        </div>
        <div class="paulo">
            <img src="../static/img/foto-paulo.png" alt="">
            <h3>Paulo Henrique Beto</h3>
            <div class="redes-sociais">
                <a href="https://github.com/Paulohenrique-beto" target="_blank"><img src="../static/img/github.png" alt=""></a>
                <a href="https://www.linkedin.com/in/paulo-h-9645a59a/" target="_blank"><img src="../static/img/linkedin.png" alt=""></a>
                <a href="mailto:betopaulohenrique@gmail.com" target="_blank"><img src="../static/img/gmail.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
{% endblock%}
