{% extends 'index.html' %}
{% load static %}

{% block content %}

        <div class="login">
                <label for="">E-mail</label>
                
                <input type="text"></input>
                
                <label for="">Senha</label>
               
                <input type="password"></input>

            </div>
           
            <div class="link_cadastro">
                    <a  href="">Ainda não tem cadastro?
                        <br/>Cadastre-se
                    </a>
            </div>

            <div class="btn-login">
                <button >Entrarr</button>
            </div>

            


{% endblock%}