{% extends 'index.html' %}
{% load static %}

{% block content %}
<section class="sobreHome sobreSobre">
    <h2>Nossa História</h2>
    <div class="texto-sobre">
        <img src="../static/img/icon-sobre.png" alt="">
        <p>Empresa de Tecnologia para mercados do Agronegócio , desenvolvida especialmente para facilitar e proporcionar as melhores experiencias de  negociações  para nossos clientes.  Criada com uma pequena ideia de transformar um mercado , porem estruturada para mudar o mundo. </p>
     </div>
    <div class="slide-home">
        <img src="../static/img/slide1.png" alt="">
        <img class ="none" src="../static/img/vegetais.png" alt="">
        <img class ="none" src="../static/img/hidroponia.png" alt="">
        <img class ="none" src="../static/img/trigo.png" alt="">
        </div>
    <div class="bolinhas">
        <p class="bolinha"></p>
        <p class="bolinha"></p>
        <p class="bolinha"></p>
        <p class="bolinha"></p>
    </div>
    <section class="ideais">
        <h2>Ideais do Projeto</h2>
        <div class="container-ideias">
            <div class="objetivos">
                <img src="../static/img/objetivo.png" alt="">
                <h3>Se tornar a peça chave para evolução do mercado do Agronegócio.</h3>
            </div>
            <div class="crencas">
                <img src="../static/img/crescimento.png" alt="">
                <h3>Fazemos com que a confiança de nosso cliente se torne nosso bem mais precioso.</h3>
            </div>
            <div class="metas">
                <img src="../static/img/desenvolvimento.png" alt="">
                <h3>Criar relacionamentos abertos e honestos através da comunicação. </h3>
            </div>
        </div>
    </section>
    <section class="servicos">
        <h2>Nossos Serviços</h2>
        <div class="container-servicos">
            <div class="servicos-imagem"><img src="../static/img/servico.png" alt=""></div>
            <div class="servicos-texto">
                <h3>Agricultor proximo do Lojista</h3>
                <p>Plataforma de marketing place aonde conecta agricultores de diversas regiões e tamanhos com lojistas do mundo inteiro. Aqui facilitamos todo o processo de negociação dos produtos , promovendo um bom relacionamento e confiança entre os clientes. Os produtos são oferecidos pelos Agricultores e assim pesquisados por lojistas, caso haja a interesse o lojista efetua a compra do determinado produto na própria plataforma.</p>
            </div>
        </div>
    </section>
{% endblock%}