body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F3EDE4;
}

h2 {
    font-size: 48px;
    font-family: 'Dancing Script', cursive;
    color: #DD8D1F;
    align-self: flex-start;
    margin-left: 5%;
}

h3 { 
    font-size:24px;
    color: #707070;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #FFBB5E;
    opacity: 90%;
    font-size: 22px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.navAtivo{
    color:#7CB342;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color:#7CB342;
    font-weight: bold;
}

button{
    background-color: #7CB342;
    height: 45px;
    width: 120px;
    border: none;
    border-radius:30px;
    color:white;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    background: white;
    color: #7CB342;
    cursor: pointer;
}

.blockNav{
    background-image: url(../static/img/separadorNav.png);
    height: 700px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.blockNav button{
    margin-bottom: 80px;
    width: 200px;
    height: 55px;
}

.sobreHome{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-sobre{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.texto-sobre p{
    max-width: 75%;
}

.slide-home{
    margin-top: 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-home img{
    width: 90%;
}

.bolinhas{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}

.bolinha{
    margin-left: 2%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #BBFF00;
    margin-bottom: 35px;
    cursor: pointer;
}

.bolinha:hover{
    background-color: #FFBB5E;
}

.sobreHome a button{
    width: 300px;
    height: 60px;
}

.setas{
    height: 40px;
}

.setaDireita{
    display:flex;
    position: relative;
    left: 560px;
    bottom: 320px;
    margin: 0;
}

.setaEsquerda{
    display:flex;
    position: relative;
    right: 550px;
    bottom: 215px;
    margin: 0;
}

.setadireita:hover{
    fill: orange;
    cursor: pointer;
}

.setaEsquerda:hover{
    fill: orange;
    cursor: pointer;
}

.none{
    display:none;
}

.time{
    display:flex;
    justify-content: space-around;
    align-items:center;
    text-align: center;
}

.redes-sociais img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.login input{
    border-radius: 30px;
    border: 4px solid #7CB342;
    color: #DD8D1F;
    width: 1100px;
    height: 40px;
    align-self: center;
    background-color: #F3EDE4;
    margin-bottom: 20px;
 }
 
 .login{
     display: flex;
     flex-direction: column;
     margin-top: 10%;
     
 
 }
 
 .login label{
     color:#DD8D1F;
     margin-left: 10%;
     margin-bottom: 2%;
     margin-top: 2%;
     font-size: 140%;   
 }
 
 .btn-login{
     display: flex;
     justify-content: center;
 }
 
 .btn-login button{
     align-self: center;
     background-color: #7CB342;
     font-size: 2em;
     width: 30% ;
     border-radius: 30px;    
 }
 
 a:link{
     text-decoration: none;
 }
 .link_cadastro a{
     display: flex;
     justify-content: center;
     text-align: center;
     color: rgb(82, 87, 92);
     font-weight: bold;
     margin-top: 2%;
     margin-bottom: 2%;
     font-size: 1em;
 }
 

footer{
    margin-top:40px;
    display:flex;
    color: white;
    background-color: #DD8D1F;
    height: 60px;
    width: 100%;
    opacity: 90%;
    text-align: center;
    justify-content: center;
}

.h2-cadastro{
    margin-top: 7%;
}

.container-cadastro{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

form {
    display:flex;
    flex-direction: column;
    margin-left:90px;
    text-align: left;
}

form input {
    width: 400%;
    font-size: 18px;
    color: #7CB342;
    border-radius: 20px;
    border: 8px solid #7CB342;
    background-color: #F3EDE4;
    padding: 5%;
    outline: none;
}

form label{
    font-size:140%;
    color:#DF9633;
    margin-bottom: 15px;
    margin-top: 15px;
}

form select {
    width: 415%;
    border-radius: 20px;
    border: 8px solid #7CB342;
    font-size: 20px;
    color: #7CB342;
    background-color: #F3EDE4;
    text-align: center;
    padding: 5%;
    outline: none;
}

form button{
    margin-top: 30px;
    margin-left: ;
    width: 250px;
}

.mensagem-final{
    margin-left: 90px;
}

.mensagem-final p{
    font-size: 22px;
    color: #7CB342;
}

.mensagem-final button{
    width: 320px;
    margin-top: 60px;
}

.sobreSobre{
    margin-top: 5%;
}

.ideias{
    width: 100%;
}

.container-ideias{
    display:flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

.container-ideias img{
    margin-top: 3%;
    width: 250px;
}

.container-ideias p{
    font-size: 22px;
    max-width: 50%;
    margin-left: 25%;
}

.servicos h2{
    margin:0;
    margin-bottom: 60px;
    margin-top: 30px;
}

.container-servicos{
    display: flex;
}

.servicos-texto {
    margin:0;
    max-width: 550px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.servicos-texto h3{
    color: #7CB342;
    font-family: 'Dancing Script', cursive;
    font-size: 42px;
}

.suaMensagem h2{
    margin-top: 130px;
}

.mensagem{
    display:flex;
    justify-content: space-around;
}

.escrever{
    display:flex;
    flex-direction: column;
    width: 800px;

}

.escrever input{
    width: 100%;
    padding: 2%;
    border: solid #7CB342 8px;
    border-radius: 20px;
    outline: none;
    color: #7CB342;
    font-size: 18px;
    background-color: #F3EDE4;
}

.escrever label{
    font-size: 24px;
    color: #DD8D1F;
    margin-bottom: 20px;
    margin-top: 20px;
}

.escrever button{
    margin-top:40px;
    width: 250px;
    height: 60px;
}

.none{
    display:none;
}

.ativo{
    display:block;
}

.ativo{
    display:block !important;
    animation: show .5s forwards;
  }
  
  @keyframes show {
    from{
      opacity: 0;
      transform: translate3d(-30px,0,0)
    }
    to{
      opacity:1;
      transform: translate3d(0,0,0)
    }
}