body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F3EDE4;
}

h2 {
    font-size: 48px;
    font-family: 'Dancing Script', cursive;
    color: #DD8D1F;
    align-self: flex-start;
    margin-left: 5%;
}

h3 {
    font-size:24px;
    color: #707070;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #FFBB5E;
    opacity: 90%;
    font-size: 22px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navAtivo{
    color:#7CB342;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color:#7CB342;
    font-weight: bold;
}

button{
    background-color: #7CB342;
    height: 45px;
    width: 120px;
    border: none;
    border-radius:30px;
    color:white;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    background: white;
    color: #7CB342;
    cursor: pointer;
}

.blockNav{
    background-image: url(../static/img/separadorNav.png);
    height: 700px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.blockNav button{
    margin-bottom: 80px;
    width: 200px;
    height: 55px;
}

.sobreHome{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-sobre{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.texto-sobre p{
    max-width: 75%;
}

.slide-home{
    margin-top: 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-home img{
    width: 80%;
}

.bolinhas{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.bolinha{
    margin-left: 2%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #BBFF00;
    margin-bottom: 35px;
    cursor: pointer;
}

.bolinha:hover{
    background-color: #FFBB5E;
}

.sobreHome button{
    width: 25%;
    height: 65px;
}

.setas{
    height: 40px;
}

.setaDireita{
    display:flex;
    position: relative;
    left: 560px;
    bottom: 320px;
    margin: 0;
}

.setaEsquerda{
    display:flex;
    position: relative;
    right: 550px;
    bottom: 215px;
    margin: 0;
}

.setadireita:hover{
    fill: orange;
    cursor: pointer;
}

.setaEsquerda:hover{
    fill: orange;
    cursor: pointer;
}

.none{
    display:none;
}

.time{
    display:flex;
    justify-content: space-around;
    align-items:center;
    text-align: center;
}

.redes-sociais img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

footer{
    margin-top:40px;
    display:flex;
    color: white;
    background-color: #DD8D1F;
    height: 60px;
    width: 100%;
    opacity: 90%;
    text-align: center;
    justify-content: center;
}

.h2-cadastro{
    margin-top: 7%;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 80%;
    height: 25px;
}

form select {
    width: 80%;
    height: 35px;
}